/* Panels Title light grey */

.bg_title {
  background-color: #dbd9d9;
}

.panel-health-font {
  font-size: 48px;
  color: green;
  font-family: var(--pf-chart-global--FontFamily, "RedHatText", "Overpass", overpass, helvetica, arial, sans-serif);
}
.pf-c-page__sidebar-body {
  padding-top: 0px!important;
}
.pf-c-card__body {
  margin-top: 50px!important;
}
.lorem {
  visibility: hidden;
}
.lorem p {
  margin-top: -8px;
}

