/* Panels Title light grey */
.panel-title {
  background: #dbd9d9;
}

.panel-health-font {
  font-size: 48px;
  color: green;
  font-family: var(--pf-chart-global--FontFamily, "RedHatText", "Overpass", overpass, helvetica, arial, sans-serif);
}
